.credentials {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet) {
    grid-column: 1 / 4;
    padding: 36px 0 40px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 5;
    padding: 0;
    padding-top: 28px;
  }
}

.credentials__description {
  padding: 20px 57px 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $base-grey;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.credentials__link {
  color: $base-grey;
}

.credentials__link:hover,
.credentials__link:focus {
  border: none;
  outline: none;
  color: $base-primary;
}

.credentials__link:active {
  color: $primary-darker;
}

.credentials__icon {
  vertical-align: middle;
  fill: $base-grey;
}

.credentials__link:hover .credentials__icon,
.credentials__link:focus .credentials__icon {
  fill: $base-primary;
}

.credentials__link:active .credentials__icon {
  fill: $primary-darker;
}
