.footer__wrapper {
  max-width: $desktop;
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 349px 1fr 1fr 1fr;
    padding: 40px;
  }
}
