.promo__wrapper {
  position: relative;
  max-width: $desktop;
  margin: 0 auto;

  @media (min-width: $tablet) {
    min-height: 828px;
  }

  @media (min-width: $desktop) {
    min-height: 0;
  }
}

.promo__pagination {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    padding-bottom: 55px;
  }
}

.promo__pagination .swiper-pagination-bullet {
  @media (min-width: $desktop) {
    width: 62px;
    height: 4px;
    border-radius: 0;
    background-color: $base-white;
    opacity: 1;
  }
}

.promo__pagination .swiper-pagination-bullet-active {
  @media (min-width: $desktop) {
    background-color: $base-primary;
  }
}

.promo__button {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 100%;
  padding: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 1;

  @media (min-width: $tablet) {
    height: calc(100% - 188px);
  }

  @media (min-width: $desktop) {
    height: 100%;
  }
}

.promo__button--prew {
  top: 0;
  left: -29px;

  @media (min-width: $tablet) {
    left: 0;
  }
}

.promo__button--next {
  top: 0;
  right: -29px;

  @media (min-width: $tablet) {
    right: 0;
  }
}

.promo__button--prew:hover,
.promo__button--prew:focus {
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.promo__button--prew:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.promo__button--next:hover,
.promo__button--next:focus {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.promo__button--next:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0) 0%, rgba(120, 89, 207, 0.25) 100%);
}

.promo__button:disabled {
  fill: $base-grey;
}

.promo__icon {
  align-self: center;
  fill: $base-primary;
}

.promo__icon--next {
  transform: rotate(180deg);
}
