.sorting {
  @media (min-width: $tablet) {
    gap: 0 11px;
  }
}

.sorting__caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sorting__input {
  position: relative;
  width: 165px;
  height: 32px;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $base-primary;
  appearance: none;
  background-image: url("../img/select-arrow-down.png");
  background-repeat: no-repeat;
  background-position: top 10px right 10px;

  @media (min-width: $tablet) {
    padding-left: 6px;
  }
}

.sorting__input:hover,
.sorting__input:focus {
  background-color: $base-secondary;
}

.sorting__input:active {
  background-color: transparent;
}

.sorting__input:focus {
  background-image: url("../img/select-arrow-up.png");
}

.sorting__option {
  background-color: $base-white;
  color: $base-black;
}

.sorting__option:hover {
  background-color: $base-primary;
}

@media (min-width: $tablet) {
  .sorting__title {
    margin-right: 18px;
  }
}
