/* здесь используйте глобальные селекторы img, body, html и так далее*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
