/* здесь используйте глобальные переменные */
$base-black: #333333;
$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavander-latte: #eae6fc;
$espresso: #e5e6e8;
$primary-opacity: rgba(120, 89, 207, 0.25);

$mobile-only: 767px;
$tablet: 768px;
$desktop: 1440px;
